.carousel-wrapper {
  position: relative;
  margin-top: 50px;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
          box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.4);
  z-index: 0;
}

@media screen and (min-width: 640px) {
  .carousel-wrapper {
    margin-top: 65px;
  }
}

.carousel-wrapper .owl-dots {
  display: none;
  position: absolute !important;
  width: 100% !important;
  bottom: 0% !important;
}

.carousel-wrapper .owl-dots .owl-dot span {
  width: 8px !important;
  height: 8px !important;
}

@media screen and (min-width: 640px) {
  .carousel-wrapper .owl-dots .owl-dot span {
    width: 0.8em !important;
    height: 0.8em !important;
  }
}

@media screen and (min-width: 768px) {
  .carousel-wrapper .owl-dots .owl-dot span {
    width: 0.9em !important;
    height: 0.9em !important;
  }
}

.carousel-wrapper span.carousel-prev {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5%;
  z-index: 5;
  cursor: pointer;
}

.carousel-wrapper span.carousel-prev i {
  color: white;
}

@media screen and (min-width: 640px) {
  .carousel-wrapper span.carousel-prev i {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 768px) {
  .carousel-wrapper span.carousel-prev i {
    font-size: 1.5em;
  }
}

.carousel-wrapper span.carousel-next {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 5%;
  z-index: 5;
  cursor: pointer;
}

.carousel-wrapper span.carousel-next i {
  color: white;
}

@media screen and (min-width: 640px) {
  .carousel-wrapper span.carousel-next i {
    font-size: 1.3em;
  }
}

@media screen and (min-width: 768px) {
  .carousel-wrapper span.carousel-next i {
    font-size: 1.5em;
  }
}

.carousel-wrapper .imagetopdiv {
  position: absolute;
  left: 50%;
  top: 90%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

@media screen and (min-width: 640px) {
  .carousel-wrapper .imagetopdiv {
    top: 92%;
  }
}

@media screen and (min-width: 768px) {
  .carousel-wrapper .imagetopdiv {
    top: 93%;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-wrapper .imagetopdiv {
    top: 93%;
  }
}

@media screen and (min-width: 1280px) {
  .carousel-wrapper .imagetopdiv {
    top: 90%;
  }
}

.carousel-wrapper .imagetopdiv a img {
  width: 1rem;
}

@media screen and (min-width: 640px) {
  .carousel-wrapper .imagetopdiv a img {
    width: 1.5rem !important;
  }
}

@media screen and (min-width: 768px) {
  .carousel-wrapper .imagetopdiv a img {
    width: 1.5rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .carousel-wrapper .imagetopdiv a img {
    width: 2rem !important;
  }
}

@media screen and (min-width: 1280px) {
  .carousel-wrapper .imagetopdiv a img {
    width: 2.5rem !important;
  }
}

.titleHeader {
  position: absolute;
  top: 20%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 100;
}

.titleHeader .title {
  letter-spacing: 5px;
}

@media screen and (min-width: 1280px) {
  .titleHeader .title {
    letter-spacing: 15px;
  }
}

@media screen and (min-width: 1366px) {
  .titleHeader .title {
    font-size: 5rem !important;
    letter-spacing: 20px;
  }
}

.titleHeader .subtitle {
  letter-spacing: 5px;
}

@media screen and (min-width: 1280px) {
  .titleHeader .subtitle {
    letter-spacing: 10px;
  }
}

.imagetrippy {
  position: absolute;
  left: 50%;
  top: 60%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

.imagetrippy img {
  width: 4rem !important;
}

@media screen and (min-width: 640px) {
  .imagetrippy img {
    width: 8rem !important;
  }
}

@media screen and (min-width: 768px) {
  .imagetrippy img {
    width: 10rem !important;
  }
}

@media screen and (min-width: 1024px) {
  .imagetrippy img {
    width: 15rem !important;
  }
}

@media screen and (min-width: 1280px) {
  .imagetrippy img {
    width: 20rem !important;
  }
}

.text-gray {
  color: #636363;
}
/*# sourceMappingURL=carousel.css.map */