.navbar-submenu::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.navbar-submenu::-webkit-scrollbar {
  width: 3px;
  background-color: #F5F5F5;
}

.navbar-submenu::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left bottom, left top, from(#2f9cee), color-stop(#755ac5), to(#b120a3));
  background: linear-gradient(0deg, #2f9cee, #755ac5, #b120a3);
}

.navbar {
  z-index: 10;
  background: white;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

ul.navbar-menu-wrapper {
  background: white;
  height: 100vh;
  position: absolute;
  top: 48px;
  left: -1000px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  z-index: 10;
}

ul.navbar-menu-wrapper.active {
  left: 0px;
  opacity: 1;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 640px) {
  ul.navbar-menu-wrapper {
    top: 63px;
  }
}

@media screen and (min-width: 768px) {
  ul.navbar-menu-wrapper {
    background: transparent;
    position: unset;
    height: 100%;
    left: 0px;
    opacity: 1;
  }
}

ul.navbar-menu-wrapper li.has-submenu {
  position: relative;
}

ul.navbar-menu-wrapper li.has-submenu ul.navbar-submenu {
  position: fixed;
  z-index: 20;
  background: white;
  height: 100vh;
  top: 50px;
  left: -500px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  overflow-y: scroll;
}

ul.navbar-menu-wrapper li.has-submenu ul.navbar-submenu.active {
  left: 0px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  ul.navbar-menu-wrapper li.has-submenu ul.navbar-submenu {
    position: absolute;
    display: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 500px;
    top: 80px;
    left: -60px;
    opacity: 1;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: white;
  }
}

@media screen and (min-width: 768px) {
  ul.navbar-menu-wrapper li.has-submenu ul.navbar-submenu li {
    padding: 10px 0 10px 0;
  }
  ul.navbar-menu-wrapper li.has-submenu ul.navbar-submenu li:hover {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, right top, from(#2f9cee), color-stop(70%, #755ac5), to(#b120a3));
    background: linear-gradient(90deg, #2f9cee, #755ac5 70%, #b120a3);
  }
  ul.navbar-menu-wrapper li.has-submenu ul.navbar-submenu li:hover a {
    color: white !important;
  }
  ul.navbar-menu-wrapper li.has-submenu ul.navbar-submenu li a {
    padding-left: 10px;
    color: #636363;
  }
}

ul.navbar-menu-wrapper li.has-submenu ul.navbar-submenu .navbar-submenu-header {
  position: fixed;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 30;
  background: -webkit-gradient(linear, left top, right top, from(#2f9cee), color-stop(#755ac5), to(#b120a3));
  background: linear-gradient(90deg, #2f9cee, #755ac5, #b120a3);
}

@media screen and (min-width: 768px) {
  ul.navbar-menu-wrapper li.has-submenu ul.navbar-submenu .navbar-submenu-header {
    display: none;
  }
}

ul.navbar-menu-wrapper li:hover a.navbar-menu-item {
  color: #232d68 !important;
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  ul.navbar-menu-wrapper li:hover ul.navbar-submenu {
    display: block !important;
  }
}

ul.navbar-menu-wrapper li a {
  color: #636363;
}

.acc .subacc {
  top: 50px;
}

@media screen and (min-width: 640px) {
  .acc .subacc {
    top: 65px;
  }
}

@media screen and (min-width: 768px) {
  .acc .subacc {
    right: 0px;
  }
}

@media screen and (min-width: 1024px) {
  .acc .subacc-2 {
    top: 43px;
    left: -50px;
  }
}

@media screen and (min-width: 1280px) {
  .acc .subacc-2 {
    top: 53px;
    left: -70px;
  }
}

.acc .subacc-2 li {
  background-color: white;
}

.acc .subacc-2 li:hover {
  background: -webkit-gradient(linear, left top, right top, from(#2f9cee), color-stop(#755ac5), to(#b120a3));
  background: linear-gradient(90deg, #2f9cee, #755ac5, #b120a3);
}

.acc .subacc-2 li:hover a {
  color: white;
}

.iconder-fb {
  color: #636363;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.iconder-fb:hover {
  color: #4299e1 !important;
  font-size: 1.5em;
}

.iconder-ig {
  color: #636363;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.iconder-ig:hover {
  color: #ed64a6 !important;
  font-size: 1.5em;
}

.iconder-y {
  color: #636363;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.iconder-y:hover {
  color: red !important;
  font-size: 1.5em;
}

.iconder-cart {
  color: #636363;
  -webkit-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.iconder-cart:hover {
  color: red !important;
  font-size: 1.5em;
}
/*# sourceMappingURL=navbar.css.map */