.product-image {
  height: 250px !important;
  -o-object-fit: contain !important;
     object-fit: contain !important;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

@media screen and (min-width: 1280px) {
  .sortAndCateProduct, .product-section {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  grid-row-gap: 20px;
}

@media screen and (min-width: 640px) {
  .product-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 768px) {
  .product-wrapper {
    grid-row-gap: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .product-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .product-wrapper {
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.product-category {
  position: fixed;
  width: 50%;
  height: 100vh;
  background-color: white;
  z-index: 100;
  top: 0px;
  overflow-y: scroll;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  left: -500px;
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.product-category.active {
  left: 0px;
  opacity: 1;
}

.product-category.active .close-product-cate {
  position: fixed;
  right: 0px;
  top: 0px;
  height: 100vh;
  width: 50%;
  background: rgba(0, 0, 0, 0.7);
}

@media screen and (min-width: 1024px) {
  .product-category {
    position: unset;
    z-index: 0;
    opacity: 1;
    border: 0px;
    overflow-y: unset;
    left: 0px;
    height: 100%;
    width: 25%;
  }
}

.product-category .close-product-cate {
  position: absolute;
  right: -5%;
  top: 10px;
}

@media screen and (min-width: 1024px) {
  .product-subcate li:hover {
    background: -webkit-gradient(linear, left top, right top, from(#2f9cee), color-stop(70%, #755ac5), to(#b120a3));
    background: linear-gradient(90deg, #2f9cee, #755ac5 70%, #b120a3);
    border-left: 3px solid #bd13bd;
    cursor: pointer;
  }
  .product-subcate li:hover a {
    color: white !important;
    font-weight: 500;
  }
}

@media screen and (min-width: 1280px) {
  .product-detail {
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
  }
}

.product-detail .product-image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-detail .product-image-wrapper .image-main {
  width: 100%;
  height: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 768px) {
  .product-detail .product-image-wrapper .image-main {
    height: 380px;
  }
}

@media screen and (min-width: 1280px) {
  .product-detail .product-image-wrapper .image-main {
    height: 430px;
  }
}

.product-detail .product-image-wrapper .image-main img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
}

.product-detail .product-image-wrapper .image-sub {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 640px) {
  .product-detail .product-image-wrapper .image-sub {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .product-detail .product-image-wrapper .image-sub {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.product-detail .product-image-wrapper .image-sub a {
  width: 5rem;
  height: 6rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  margin-bottom: 0.25rem;
}

@media screen and (min-width: 768px) {
  .product-detail .product-image-wrapper .image-sub a {
    width: 4rem;
    height: 5rem;
  }
}

@media screen and (min-width: 1280px) {
  .product-detail .product-image-wrapper .image-sub a {
    width: 5rem;
    height: 6rem;
  }
}

.product-detail .product-image-wrapper .image-sub a img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
/*# sourceMappingURL=product.css.map */